In [1]:
import pandas as pd

# Set paths to Income data .csv's
income_2011= "data_median_income/income2011.csv"
income_2012= "data_median_income/income2012.csv"
income_2013= "data_median_income/income2013.csv"
income_2014= "data_median_income/income2014.csv"
income_2015= "data_median_income/income2015.csv"
income_2016= "data_median_income/income2016.csv"
income_2017= "data_median_income/income2017.csv"

In [2]:
# Read Income Data File and store into DataFrames

income_2011_df = pd.read_csv(income_2011, delimiter=',')
income_2012_df = pd.read_csv(income_2012, delimiter=',')
income_2013_df = pd.read_csv(income_2013, delimiter=',')
income_2014_df = pd.read_csv(income_2014, delimiter=',')
income_2015_df = pd.read_csv(income_2015, delimiter=',')
income_2016_df = pd.read_csv(income_2016, delimiter=',')
income_2017_df = pd.read_csv(income_2017, delimiter=',')

In [3]:
#Sort DataFrames by Zip Code (lowest to highest)

income_2011_df.sort_values(by='id', ascending = True).reset_index(inplace=True, drop=True)
income_2012_df.sort_values(by='id', ascending = True).reset_index(inplace=True, drop=True)
income_2013_df.sort_values(by='id', ascending = True).reset_index(inplace=True, drop=True)
income_2014_df.sort_values(by='id', ascending = True).reset_index(inplace=True, drop=True)
income_2015_df.sort_values(by='id', ascending = True).reset_index(inplace=True, drop=True)
income_2016_df.sort_values(by='id', ascending = True).reset_index(inplace=True, drop=True)
income_2017_df.sort_values(by='id', ascending = True).reset_index(inplace=True, drop=True)

In [4]:
#Create new dataFrame with just ID, Geographic Area Name, and Median Income columns

cleaned_2011 = income_2011_df[['id', 'Geographic Area Name','Median income (dollars)!!Estimate!!Households']]
cleaned_2012 = income_2012_df[['id', 'Geographic Area Name','Median income (dollars)!!Estimate!!Households']]
cleaned_2013 = income_2013_df[['id', 'Geographic Area Name','Median income (dollars)!!Estimate!!Households']]
cleaned_2014 = income_2014_df[['id', 'Geographic Area Name','Median income (dollars)!!Estimate!!Households']]
cleaned_2015 = income_2015_df[['id', 'Geographic Area Name','Median income (dollars)!!Estimate!!Households']]
cleaned_2016 = income_2016_df[['id', 'Geographic Area Name','Median income (dollars)!!Estimate!!Households']]
cleaned_2017 = income_2017_df[['id', 'Geographic Area Name','Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households']]

#Rename Median Income Column

cleaned_2011 = cleaned_2011.rename(columns = {"Median income (dollars)!!Estimate!!Households":"Median Income"})
cleaned_2012 = cleaned_2012.rename(columns = {"Median income (dollars)!!Estimate!!Households":"Median Income"})
cleaned_2013 = cleaned_2013.rename(columns = {"Median income (dollars)!!Estimate!!Households":"Median Income"})
cleaned_2014 = cleaned_2014.rename(columns = {"Median income (dollars)!!Estimate!!Households":"Median Income"})
cleaned_2015 = cleaned_2015.rename(columns = {"Median income (dollars)!!Estimate!!Households":"Median Income"})
cleaned_2016 = cleaned_2016.rename(columns = {"Median income (dollars)!!Estimate!!Households":"Median Income"})
cleaned_2017 = cleaned_2017.rename(columns = {"Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households":"Median Income"})

In [5]:
cleaned_2011['Median Income'] = pd.to_numeric(cleaned_2011['Median Income'], errors='coerce')
cleaned_2012['Median Income'] = pd.to_numeric(cleaned_2012['Median Income'], errors='coerce')
cleaned_2013['Median Income'] = pd.to_numeric(cleaned_2013['Median Income'], errors='coerce')
cleaned_2014['Median Income'] = pd.to_numeric(cleaned_2014['Median Income'], errors='coerce')
cleaned_2015['Median Income'] = pd.to_numeric(cleaned_2015['Median Income'], errors='coerce')
cleaned_2016['Median Income'] = pd.to_numeric(cleaned_2016['Median Income'], errors='coerce')
cleaned_2017['Median Income'] = pd.to_numeric(cleaned_2017['Median Income'], errors='coerce')
cleaned_2011 = cleaned_2011.dropna()
cleaned_2012 = cleaned_2012.dropna()
cleaned_2013 = cleaned_2013.dropna()
cleaned_2014 = cleaned_2014.dropna()
cleaned_2015 = cleaned_2015.dropna()
cleaned_2016 = cleaned_2016.dropna()
cleaned_2017 = cleaned_2017.dropna()
cleaned_2011['Year']=2011
cleaned_2012['Year']=2012
cleaned_2013['Year']=2013
cleaned_2014['Year']=2014
cleaned_2015['Year']=2015
cleaned_2016['Year']=2016
cleaned_2017['Year']=2017

In [6]:
# Sanity check to make sure average Median Household Income across all ZCTAs make sense

print(cleaned_2011['Median Income'].mean())
print(cleaned_2012['Median Income'].mean())
print(cleaned_2013['Median Income'].mean())
print(cleaned_2014['Median Income'].mean())
print(cleaned_2015['Median Income'].mean())
print(cleaned_2016['Median Income'].mean())
print(cleaned_2017['Median Income'].mean())

51276.917301651476
51729.2115474158
51943.436049058255
52533.439738701
53373.789758454106
54630.373649343965
56693.98626284828

In [7]:
cleaned_2011.to_csv('data_median_income/final_2011_median_income', index=False)
cleaned_2012.to_csv('data_median_income/final_2012_median_income', index=False)
cleaned_2013.to_csv('data_median_income/final_2013_median_income', index=False)
cleaned_2014.to_csv('data_median_income/final_2014_median_income', index=False)
cleaned_2015.to_csv('data_median_income/final_2015_median_income', index=False)
cleaned_2016.to_csv('data_median_income/final_2016_median_income', index=False)
cleaned_2017.to_csv('data_median_income/final_2017_median_income', index=False)

In [10]:
cleaned_2011

                   id Geographic Area Name  Median Income  Year
0      8600000US03455          ZCTA5 03455        60458.0  2011
1      8600000US03456          ZCTA5 03456        56917.0  2011
2      8600000US03457          ZCTA5 03457        63462.0  2011
3      8600000US03458          ZCTA5 03458        68659.0  2011
4      8600000US03461          ZCTA5 03461        65046.0  2011
...               ...                  ...            ...   ...
33115  8600000US99923          ZCTA5 99923        27500.0  2011
33116  8600000US99925          ZCTA5 99925        43125.0  2011
33117  8600000US99926          ZCTA5 99926        45216.0  2011
33118  8600000US99927          ZCTA5 99927        17639.0  2011
33119  8600000US99929          ZCTA5 99929        50286.0  2011

[32153 rows x 4 columns]

In [8]:
print(f"2011 Median income: {cleaned_2011['Median Income'].mean()}")
print(f"2012 Median income: {cleaned_2012['Median Income'].mean()}")
print(f"2013 Median income: {cleaned_2013['Median Income'].mean()}")
print(f"2014 Median income: {cleaned_2014['Median Income'].mean()}")
print(f"2015 Median income: {cleaned_2015['Median Income'].mean()}")
print(f"2016 Median income: {cleaned_2016['Median Income'].mean()}")
print(f"2017 Median income: {cleaned_2017['Median Income'].mean()}")

2011 Median income: 51276.917301651476
2012 Median income: 51729.2115474158
2013 Median income: 51943.436049058255
2014 Median income: 52533.439738701
2015 Median income: 53373.789758454106
2016 Median income: 54630.373649343965
2017 Median income: 56693.98626284828